.blood-pressure-chart {
    max-width: 800px;  
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 0px;
    background-color: #F4F0FE; 
    border-radius: 8px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  }
  
  .blood-pressure-chart h2 {
    font-size: 18px;
    color: #072635;  
    margin-bottom: 20px;
  }
  
  .bp-heading{
    display: flex;
    font-size: 14px;
    margin: 0;
    padding-right: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  .bp-heading p{
    margin: 0px;
  }

  .expand-icon{
    margin-left: 16px;
  }
  
  .chart-container {
    
    gap: 20px;  
  }
  
  
  .chart-info{
    text-align: left;
    display: flex;
    flex-direction: column;
  }


  .chart-info > div:first-child {
    border-bottom: 1px solid #CBC8D4;  
    padding-bottom: 8px;  
    margin-bottom: 16px;  
  }
  

.chart-info h3{
  margin-bottom: 8px;
  margin: 0px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
}

.chart-info h1{
  margin-bottom: 8px;
  margin: 0px;
  color: var(--unnamed-color-072635);
text-align: left;
font-size: 22px;
font-style: bold;
}

.chart-info p{
  margin: 0px;

  margin-bottom: 8px;
  font-size: 14px;

}

.circle-1 {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color:  #E66FD2; 
  border-radius: 50%;  
  margin-right: 4px;  
}


.circle-2 {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #8C6FE6;
  border-radius: 50%;  
  margin-right: 4px  
}

.arrowUp, .arrowDown{
  margin-right: 8px;
}