.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0px 0px 18px 0px;
  background-color: var(--unnamed-color-ffffff);
  color: var(--unnamed-color-072635);
  font-size: var(--unnamed-font-size-14);
  max-width: 100vw;
  overflow: hidden;
  border-radius: 70px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu .active {
  background-color: #01f0d0;
  border-radius: 41px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu ul li {
  padding: 11px 16px;
  display: flex;
  flex-direction: row;
}

.menu ul li img {
  max-width: 23px;
  margin: auto 5px;
}

.menu ul li a {
  margin: 5px;
  text-decoration: none;
  color: var(--unnamed-color-072635);
}

.logo img,
.user-avatar,
.menu-icon {
  max-width: 100%;
  height: auto;
}

.logo {
  margin-left: 32px;
}

.user-info {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 15px;
}

.user-details {
  display: flex;
}

.user-avatar {
  margin: auto 4px;
}

.user-text {
  display: flex;
  flex-direction: column;
  margin: auto 4px;
}

.user-role {
  color: var(--unnamed-color-707070);
}

.setting-icon {
  margin: auto 12px;
}

.menu-icon {
  margin-right: 32px;
}

.user-name {
  font-weight: bold;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none; 
  cursor: pointer;
}

.hamburger svg {
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .menu ul li a {
    display: none;
  }

}
@media (min-width: 1440px) {
  .menu ul li a {
    display: block;
  }

}
@media (max-width: 768px) {
  .hamburger {
    display: block; 
  }

  .menu ul {
    display: none;  
    flex-direction: column;
    position: absolute;
    top: 70px;  
    left: 0;
    width: 100%;
    background-color: var(--unnamed-color-ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .menu ul.open {
    display: flex;  
  }

  .menu ul li {
    padding: 10px;
    text-align: center;
  }

  .menu ul li a {
    display: block;
  }
}