/* Patients.css */
.patients-section {
    border-radius: 8px;
    padding: 22px 0px 0px 22px;
    background-color: var(--unnamed-color-ffffff);

  }
  
  .patients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 40px;
  }
  
  .patients-header h2 {
    margin: 0px;
    color: var(--unnamed-color-072635);  
  }
  
  .search-icon img {
    cursor: pointer;
  }
  
  .patients-list {
    height: 961px;
    overflow-y: auto; 
  }
  
  .patient-card {
    display: flex;
    align-items: center;
    background-color: var(--unnamed-color-ffffff);  
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 32px;
  }
  
  .patient-photo {
    margin-right: 12px;
  }
  
  .patientList-info {
    flex: 1; 
  }
  
  .patientList-info h3 {
    margin: 0;
    font-size: 14px;
  }
  
  .patientList-info p {
    margin: 5px 0 0;
    font-size: 14px;

  }
  
  .patient-menu img {
    cursor: pointer;
  }