/* Global Styles */
:root {
    --design-width: 1600px;
    --design-height: 1195px;
  }
  
  body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
  }
  
  .container {
    max-width: var(--design-width);
    margin: 9px;
    padding: 9px;
  }
  
  .main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }
  
  .column-1, .column-3 {
  color: var(--unnamed-color-072635);
    flex-grow: 1;
    max-width: 367px;
  }
  .column-2{
  color: var(--unnamed-color-072635);
    flex-grow: 2;
  }
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .main-section {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .column {
      min-width: 100%;
    }
  }